* {
  box-sizing: border-box;
}

.navbar {
  font-family: billionaire;
  position: relative;
  text-align: center;
  font-size: 2em;
  width: 1000px;
  background-color: #d69b53;
  display: block;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
  margin: auto;
}

.navbar ul li {
  list-style-type: none;
  text-decoration: none;
}
.title {
  font-size: 1.2em;
}

.navbar ul.left {
  float: left;
  display: block;
  text-align: center;
}
.navbar ul.right {
  float: right;
  display: block;
  text-align: center;
}
.navbar ul.left li {
  float: left;
  padding: 14px 30px;
}
.navbar ul.right li {
  float: left;
  padding: 19px 30px;
}

.navbar a {
  color: #725d45;
  text-decoration: none;
}

.link:hover {
  background-color: #b3c3d2;
  border-right: 6px solid #725d45;
}

/*----------- HANDLING DROP DOWNS HERE ------------- */

.dropdown {
  position: relative;
  float: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  background-color: #b3c3d2;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-right: 6px solid #725d45;
  border-bottom: 6px solid #725d45;
}
.dropdown-content li {
  background-color: #b3c3d2;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: block;
}
.dropdown-content li:hover {
  background-color: #93a7b9;
}
.dropdown:hover .dropbtn {
  background-color: #b3c3d2;
  border-right: 6px solid #725d45;
}
